*{
  margin: 0px;
  padding: 0px;
}

.main{
  background-color: #548687;
  height: 100vh;
}
.container{
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 padding: 1rem;
 font-size: x-large;
}
.container>h1{
  margin-bottom: 20px;
  
}
.player-input{
   max-width: 400px;
    margin: 0 auto;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    
}
label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}
.player-input>input{
  width: 70%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.player-input>button{
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.game{
  height: 66vh;
  width: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  display:none;
}
.box{
  height: 19vh;
  width: 18vh;
  border-radius: 1rem;
  border: none;
  font-size: 4rem;
  background-color: #ffffe7;
  color: #b0413e;
}
.message{
  background-color: #89c0ad;
  padding:10px;
  margin-bottom: 10px;
  background-color: #ffffe7;
  display: none;
}